# EDA 1
## Choropleth Maps

In [276]:
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot,plot
init_notebook_mode(connected=True) 
import pandas as pd
import plotly.express as px

In [277]:
# read the data set
df = pd.read_csv("Data_Cleaning_Final_Output.csv")

In [278]:
# reset column names
df.columns = df.iloc[0]
df = df.iloc[1:]

In [279]:
# drop unnecessary columns
df = df.drop(columns=df.columns[2:5])
df = df.drop(columns=df.columns[26])

In [280]:
df2 = pd.read_csv("C:\\Users\\91886\\Desktop\\countries_regions.csv")
# reset column names
df2.columns = df2.iloc[0]
df2 = df2.iloc[1:]
region_names = list(df2.columns[1:])
counties_in_region = pd.DataFrame(region_names)
i = 0
counties_in_region['Country'] = ''
for ele in region_names:
    country_list = list(df2[(df2[ele] == 'x')].iloc[:, 0])
    counties_in_region.iat[i,1] = ','.join(map(str,country_list))
    i+=1
counties_in_region = counties_in_region.rename(columns = {0:"Region"})

countries = counties_in_region.drop(columns=counties_in_region.columns[0])

In [281]:
region_names = list(df.columns[2:])
region_wise_crops = pd.DataFrame(region_names)
i = 0
region_wise_crops['Crop_names'] = '<br>'
region_wise_crops['Crop_counts'] = ''
for ele in region_names:
    crop_list = list (df[(df[ele] == 'x')].iloc[:, 0])
    #region_wise_crops.iat[i,1] = crop_list
    region_wise_crops.iat[i,1] = '<br>'.join(map(str,crop_list))
    region_wise_crops.iat[i,2] = len(crop_list)
    i+=1


region_wise_crops = region_wise_crops.rename(columns = {0:"Region"})

region_wise_crops = pd.concat([region_wise_crops,countries], axis=1)

In [282]:
region_wise_crops = (region_wise_crops.set_index(['Crop_names','Crop_counts','Region'])
   .apply(lambda x: x.str.split(',').explode())
   .reset_index())
region_wise_crops

,Crop_names,Crop_counts,Region,Country
0,Coffee<br>Cowpeas<br>Kola nuts<br>Palm oil<br>...,8,Central Africa,Angola
1,Coffee<br>Cowpeas<br>Kola nuts<br>Palm oil<br>...,8,Central Africa,Cameroon
2,Coffee<br>Cowpeas<br>Kola nuts<br>Palm oil<br>...,8,Central Africa,Central African Republic
3,Coffee<br>Cowpeas<br>Kola nuts<br>Palm oil<br>...,8,Central Africa,Congo
4,Coffee<br>Cowpeas<br>Kola nuts<br>Palm oil<br>...,8,Central Africa,Democratic Republic of the Congo
...,...,...,...,...
228,"Coconuts<br>Melons<br>Roots, other<br>Taro",4,Tropical Pacific Region,Tonga
229,"Coconuts<br>Melons<br>Roots, other<br>Taro",4,Tropical Pacific Region,Tuvalu
230,"Coconuts<br>Melons<br>Roots, other<br>Taro",4,Tropical Pacific Region,Vanuatu
231,"Coconuts<br>Melons<br>Roots, other<br>Taro",4,Tropical Pacific Region,Wallis and Futuna Islands
232,"Berries nes<br>Beverages, alcoholic<br>Beverag...",27,Not Specified,NaN

In [283]:
data = dict(
        type = 'choropleth',
        colorscale = 'Aggrnyl',
        reversescale = True,
        locations = region_wise_crops['Country'],
        locationmode = "country names",
        z = region_wise_crops['Crop_counts'],
        text = "Region: " + region_wise_crops["Region"].astype(str) + "<br>Crops Originated:<br> " 
                  + region_wise_crops["Crop_names"].astype(str),
        colorbar = {'title' : 'Number of crops originated'}) 

layout = dict(title = 'Crop Origins',
              geo = dict(showframe = False,projection = {'type':'mercator'}))
choromap = go.Figure(data = [data],layout = layout)
plot(choromap,validate=False)

'temp-plot.html'